/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
font-family: 'Inter Web';
font-weight: 400;
src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
font-family: 'Inter Web';
font-weight: 600;
src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  --global-root-font-size: 16;

  /* Global colors */
  --global-color-neutral-xxxx-light: #f5f6fa;
  --global-background-color: radial-gradient(rgb(48, 136, 52), rgb(27, 76, 29));
  --global-html-color: #57211F;
  --global-html-color-opacity: rgba(87, 33, 31, 0.5);
  --global-html-backgroundColor: var(--global-color-neutral-xxxx-light);
  --global-selection-backgroundColor: var(--global-html-color-opacity);
  --global-selection-color: var(--global-html-backgroundColor);


  /* borders */
  --global-borderRadius: calc(3rem / var(--global-root-font-size));
  --global-borderWidth: calc(1rem / var(--global-root-font-size));


  /* transition */
  --global-transition-delay: 0.4s; /* 0.4s seconds */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
  Generic: Page
  ---
  Global page styles + universal box-sizing:
*/

html {
  transition: var(--global-transition-delay);
  background: var(--global-background-color);
  color: var(--global-html-color);
  font-size: calc(16rem / var(--global-root-font-size));
  font-weight: 400;
  line-height: 1.5;
  font-family: Century,'Inter Web', Helvetica, arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  padding: calc(24rem / var(--global-root-font-size)) calc(24rem / var(--global-root-font-size)) calc(0rem / var(--global-root-font-size));
  --global-border-color: var(--global-color-neutral-xxxx-dark)
}

html.dark
{
  --global-background-color: radial-gradient(rgb(10, 40, 10), rgb(10, 30, 10));
  --global-html-color: var(--global-color-neutral-xxxx-light);
  --global-html-color-opacity: rgba(255, 255, 255, 0.3);
  --global-html-backgroundColor: #57211F;
  --global-border-color: var(--global-color-neutral-xxxx-dark)
}


@media (min-width: 1000px) {
  html {
    font-size: calc(20rem / var(--global-root-font-size));
    --global-root-font-size: 20;
    line-height: 1.6;
  }
}

main{
  padding-bottom: calc(16rem / var(--global-root-font-size));
}

.switch {
position: relative;
width: 3.5rem;
height: 2rem;
}

.switch input {
  margin: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:focus + span{
  opacity: 1;
  box-shadow: 0 0 calc(3rem / var(--global-root-font-size)) calc(3rem / var(--global-root-font-size)) ;
  border: solid calc(2rem / var(--global-root-font-size));
}



.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
/* background-color: #ccc; */
background-color: rgba(0, 0, 0, 0.2);
border-radius: calc(30rem / var(--global-root-font-size));
border: solid calc(2rem / var(--global-root-font-size));
}

.slider:before{
position: absolute;
content: "";
height: 1.4rem;
width: 1.4rem;
left: 0.3rem;
border-radius: calc(20rem / var(--global-root-font-size));
top: 50%;
transition: var(--global-transition-delay);
transform: translateY(-50%);
background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
}

input:hover + .slider { 
  outline: none;
  box-shadow: 0 0 calc(2rem / var(--global-root-font-size))  calc(2rem / var(--global-root-font-size)) ;
}

input:checked + .slider {
background-color: #37393f;
}

input:checked + .slider:before {
left: calc(100% - 1.7rem);
background: #37393f;
box-shadow: inset calc(-3rem / var(--global-root-font-size)) calc(-2rem / var(--global-root-font-size)) calc(5rem / var(--global-root-font-size)) calc(-2rem / var(--global-root-font-size)) #8983f7, inset calc(-10rem / var(--global-root-font-size)) calc(-4rem / var(--global-root-font-size)) 0 0 #a3dafb;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

.title {
  font-size: calc(32rem / var(--global-root-font-size));
  font-weight: 700;
  line-height: calc(40rem / var(--global-root-font-size));
  margin: 0 calc(24rem / var(--global-root-font-size)) calc(24rem / var(--global-root-font-size)) 0;
  text-decoration: none;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
background: var(--global-selection-backgroundColor);
color: var(--global-selection-color);
text-shadow: none;
}

::selection {
background: var(--global-selection-backgroundColor);
color: var(--global-selection-color);
text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
max-width: 100%;
vertical-align: top;
}

/*
  Elements: typography
  ---
  Default markup for typographic elements
*/

h1,
h2,
h3 {
font-weight: 800;
}

h1 {
font-size: calc(36rem / var(--global-root-font-size));
line-height: calc(48rem / var(--global-root-font-size));
margin: 0 0 var(--global-whitespace);
}

@media (min-width: 400px) {
  h1{
      font-size: calc(30rem / var(--global-root-font-size));
  }
}

@media (min-width: 460px) {
  h1{
      font-size: calc(36rem / var(--global-root-font-size));
  }
}

@media (min-width: 576px) {
  #water-drupple{
      display: inline;
  }
}

h2 {
font-size: calc(32rem / var(--global-root-font-size));
line-height: calc(40rem / var(--global-root-font-size));
margin: 0 0 var(--global-whitespace);
}

h3 {
font-size: calc(26rem / var(--global-root-font-size));
line-height: calc(32rem / var(--global-root-font-size));
margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
font-size: calc(16rem / var(--global-root-font-size));
font-weight: 600;
line-height: calc(24rem / var(--global-root-font-size));
margin: 0 0 var(--global-whitespace);
}

p{
  margin: 0;
}


ol,
ul,
dl,
table,
address,
figure {
margin: 0 0 var(--global-whitespace);
}

ul,
ol {
padding-left: var(--global-whitespace);
}

li ul,
li ol {
margin-bottom: 0;
}

blockquote {
font-style: normal;
font-size: calc(23rem / var(--global-root-font-size));
line-height: calc(32rem / var(--global-root-font-size));
margin: 0 0 var(--global-whitespace);
}

blockquote * {
font-size: inherit;
line-height: inherit;
}

figcaption {
font-weight: 400;
font-size: calc(12rem / var(--global-root-font-size));
line-height: calc(16rem / var(--global-root-font-size));
margin-top: var(--global-whitespace-sm);
}

hr {
border: 0;
height: calc(1rem / var(--global-root-font-size));
background: LightGrey;
margin: 0 0 var(--global-whitespace);
}

a,
a:visited {
transition: all var(--global-transitionTiming-alpha);
color: var(--global-color-alpha);
outline-color: var(--global-link-BoxShadowColor);
outline-width: medium;
outline-offset: calc(2rem / var(--global-root-font-size));
}

a:hover,
a:focus {
color: var(--global-color-alpha-light);
}

a:active {
color: var(--global-color-alpha-dark);
}

label,
input {
display: block;
}

select {
width: 100%;
}

input::placeholder {
color: var(--global-placeholder-color);
}

header{
  display: inline;
  height: calc(48rem / var(--global-root-font-size));
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/


/*
  Objects: Container
  ---
  Creates a horizontal container that sets de global max-width
*/

.o-container {
margin-left: auto;
margin-right: auto;
max-width: 79.5em;
/* 79.5 * 16px = 1272 */
width: 100%;
}

/*
  Objects: List
  ---
  Small reusable object to remove default list styling from lists
*/

.o-list {
list-style: none;
padding: 0;
}

/*
  Object: Button reset
  ---
  Small button reset object
*/

.o-button-reset {
border: none;
margin: 0;
padding: 0;
width: auto;
overflow: visible;
background: transparent;

/* inherit font & color from ancestor */
color: inherit;
font: inherit;

/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
line-height: normal;

/* Corrects font smoothing for webkit */
-webkit-font-smoothing: inherit;
-moz-osx-font-smoothing: inherit;

/* Corrects inability to style clickable `input` types in iOS */
-webkit-appearance: none;
}

/*
  Object: Hide accessible
  ---
  Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: calc(1rem / var(--global-root-font-size));
  height: calc(1rem / var(--global-root-font-size));
  padding: 0;
  margin: calc(-1rem / var(--global-root-font-size));
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
  Component: Logo
  ---
  Website main logo
*/

.c-logo {
--logo__path--1--Fill: var(--global-color-neutral-xxxx-dark);
--logo__path--2--Fill: var(--global-color-alpha);
--logo__path--3--Fill: var(--global-color-alpha-x-dark);
height: var(--global-whitespace);
display: flex;
align-items: center;
justify-content: center;
margin-bottom: var(--global-whitespace-xl);
}

.c-logo__symbol {
height: 100%;
}

.c-logo__path--1 {
fill: var(--logo__path--1--Fill);
}

.c-logo__path--2 {
fill: var(--logo__path--2--Fill);
}

.c-logo__path--3 {
fill: var(--logo__path--3--Fill);
}


/*
    Component: mobile nav
    ---
    Dedicated mobile nav component
*/

.c-mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
  z-index: 1000;
}

.c-mobile-nav-tile{
  margin-bottom: calc(20rem / var(--global-root-font-size));
}

.has-mobile-nav .c-mobile-nav {
  opacity: 1;
  pointer-events: auto;
}

.c-mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-mobile-nav__bg {

}

.has-mobile-nav .c-mobile-nav__bg {

}

.c-mobile-nav__body {
  position: relative;
  padding: calc(24rem / var(--global-root-font-size));
  height: 100vh;
  width: 100vw;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity .5s ease-in, transform .5s ease-in;
  background-color: rgb(250, 251, 252);
}

.has-mobile-nav .c-mobile-nav__body {
  transform: translateX(0);
  opacity: 1;
}

@media (min-width: 768px) {
  .c-mobile-nav__body {
      padding: calc(48rem / var(--global-root-font-size));
  }
}

@media (min-width: 992px) {
  /* Hide the mobile nav on larger viewports even whent it's open on smaller screens */
  .c-mobile-nav {
      display: none !important;
  }
}



/*
    Component: header
    ---
    Main header of the website
*/

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  top: 0;
  left: 0;
  padding: 0 calc(24rem / var(--global-root-font-size)) 0 calc(24rem / var(--global-root-font-size));
  width: 100%;
}


.c-header__nav {
  display: none;
}

@media (min-width: 992px) {
  .c-header__nav {
      display: block;
  }

  .c-header__nav--main {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: calc(12rem / var(--global-root-font-size));
  }

}

/*
    Component: footer
    ---
    Main footer of the website
*/

.c-footer {
  display: flex;
  flex-wrap: wrap;
}

.c-footer__logo {
  width: 100%;
}

.c-footer__nav {
  width: 50%;
}

@media (min-width: 768px) {
  .c-footer {
      justify-content: center;
      align-items: center;
  }

  .c-footer__logo {
      display: flex;
      justify-content: center;
      padding: 0 calc(12rem / var(--global-root-font-size));
  }

  .c-footer__nav {
      width: auto;
      padding: 0 calc(16rem / var(--global-root-font-size));
  }
}

@media (min-width: 992px) {
  .c-footer {
      justify-content: space-between;
  }

  .c-footer__nav {
      padding: 0;
  }

  .c-footer__logo + .c-footer__nav {
      order: -1;
  }

  .c-footer__logo {
      width: auto;
  }
}


/*
    Component: Nav
    ---
    Main navigation of the site
*/

.c-nav-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(24rem / var(--global-root-font-size));
  width: calc(24rem / var(--global-root-font-size));
  height: calc(24rem / var(--global-root-font-size));
}

.c-nav-trigger__svg {
  fill: #202024;
  height: 100%;
}

.c-nav {
  font-size: calc(18rem / var(--global-root-font-size));
  line-height: calc(24rem / var(--global-root-font-size));
}

.c-nav--meta {
  font-size: calc(16rem / var(--global-root-font-size));
}

.c-nav__link {
  text-decoration: none;
  font-weight: 400;
  display: block;
  padding: calc(8rem / var(--global-root-font-size)) 0;
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
  color: rgb(0, 0, 172);;
}

.c-nav__link--meta,
.c-nav__link--meta:visited,
.c-nav__link--meta:active {
  color: rgb(0, 0, 172);;
}

.is-selected .c-nav__link,
.c-nav__link:hover,
.c-nav__link:focus {
  color: rgb(0, 0, 172);;
}

.c-nav__link {
  display: inline-block;
  margin: 0 calc(15rem / var(--global-root-font-size));
}

.c-nav__link {
  text-decoration: none;
  padding: calc(5rem / var(--global-root-font-size)) 0;
  position: relative;
  color: rgb(0, 0, 172);
}

.c-nav__link:after{
  content: '';
  background: rgb(0, 0, 172);
  width: 0%;
  height: calc(2rem / var(--global-root-font-size));
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.c-nav__link:hover::after{
  width: 100%;
}

@media (min-width: 768px) {
  .c-nav__list {
      display: flex;
      margin-left: calc(-16rem / var(--global-root-font-size));
      margin-right: calc(-16rem / var(--global-root-font-size));
      margin-bottom: 0;
  }

  .c-nav__link {
      padding: calc(8rem / var(--global-root-font-size)) calc(16rem / var(--global-root-font-size));
  }
}


/*
  Component: layout
  ---
*/
.c-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
}

.c-deck-of-cards{
  display: none;
}


@media (min-width: 1000px) {
  .c-layout{
    justify-content: space-between;
  }
  .c-deck-of-cards{
    display: block;
  }
}

.c-layout-detail {
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: calc(24rem / var(--global-root-font-size)) 0 calc(24rem / var(--global-root-font-size)) 0;
  /* justify-content: space-between; */
}

.c-layout__item {
  text-align: left;
}

.c-layout__item-xl {
  background-color: #fff;
  width: min(600px,100%);
  height: 100%;
  box-shadow: calc(1rem / var(--global-root-font-size)) calc(1rem / var(--global-root-font-size)) calc(3rem / var(--global-root-font-size)) calc(3rem / var(--global-root-font-size)) rgb(242, 244, 246);
  border-radius: calc(32rem / var(--global-root-font-size)) ;
}

.c-layout--gutter{
  margin: 0 calc(-16rem / var(--global-root-font-size));
}

.c-layout--gutter > .c-layout__item{
  margin: 0 calc(16rem / var(--global-root-font-size)) 0;
}


/*
  Component: Progress-bar
  ---
  Progress-bar for showing procentages
*/

.c-progress-bar-placeholder{
  margin: 0;
  padding: 0;
  border: calc(1rem / var(--global-root-font-size)) solid;
  max-width: calc(370rem / var(--global-root-font-size));
  margin-bottom: calc(16rem / var(--global-root-font-size));
}

@media (min-width: 1000px)
{
  .c-progress-bar-placeholder
  {
    display: inline;
    min-width: 250px;
    margin-right: calc(4rem / var(--global-root-font-size));
    margin-bottom: 0;
  }
}

.c-progress-bar{
  margin: calc(4rem / var(--global-root-font-size)) calc(4rem / var(--global-root-font-size)) calc(4rem / var(--global-root-font-size)) calc(4rem / var(--global-root-font-size));
  border: calc(1rem / var(--global-root-font-size)) solid;
  height: 1.8rem;
}

.c-progress{
  margin: 0 0 0 0;
  padding: 0;
  height: 1.8rem;
  background-color: var(--global-html-color-opacity);
  color: white;
  text-align: center;
  transition: width 1s ease-out;
}

/*
    Component: Play card
    ---
    play card
*/

.c-play-card{
  height: calc(150rem / 16);
  padding: 0 calc(8rem / var(--global-root-font-size))  0 0;
}



/*
  Component: deck-of-cards
  ---
  The deck of cards
*/


.c-deck-of-cards-img{
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.c-deck-of-cards-img:hover{
  outline: none;
  box-shadow: var(--global-html-color) 0 0 calc(2rem / var(--global-root-font-size)) calc(2rem / var(--global-root-font-size));
}

.c-deck-of-cards-img:focus{
  outline: none;
  box-shadow: var(--global-html-color) 0 0 calc(3rem / var(--global-root-font-size)) calc(3rem / var(--global-root-font-size));
}

.c-deck{
  margin: 0;
  padding: 0;
}

.c-deck:hover{
  outline: none;
  box-shadow: var(--global-html-color) 0 0 calc(2rem / var(--global-root-font-size)) calc(2rem / var(--global-root-font-size));
}

.c-deck:focus{
  outline: none;
  box-shadow: var(--global-html-color) 0 0 calc(3rem / var(--global-root-font-size)) calc(3rem / var(--global-root-font-size));
}



/*
  Component: Card
  ---
  Card with box shadow
*/

.c-card {
--card-backgroundColor: White;
--card__footer-borderColor: var(--global-color-neutral-xxx-light);
--card-borderRadius: var(--global-borderRadius);
background-color: var(--card-backgroundColor);
margin-bottom: var(--global-whitespace);
border-radius: var(--card-borderRadius);
box-shadow: 0 0 0 calc(1rem / var(--global-root-font-size)) rgba(0, 0, 0, 0.05), 0 calc(2rem / var(--global-root-font-size)) calc(4rem / var(--global-root-font-size)) rgba(0, 0, 0, 0.075);
overflow: hidden;
}



/*
  Component: placeholder-cards
  ---
  The placeholder for the cards
*/


.c-placeholder-cards{
  display: inline;
  border: solid calc(1rem / var(--global-root-font-size));
  padding: calc(8rem / var(--global-root-font-size));
  padding-right: 0;
  height: auto;
  width: auto;
}


/* For all cards but the first card (second child(the legend is the first child)) */
  /* 2 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(1)
  {
    margin-left: 0;
  }

  /* 3 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(2)
  {
    margin-left: calc(-60rem / var(--global-root-font-size));
    margin-left: -60px;
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(1)
  {
    margin-left: calc(-60rem / var(--global-root-font-size));
    margin-left: -60px;
  }

  /* 4 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(3)
  {
    margin-left: calc(-80rem / var(--global-root-font-size));
    margin-left: -80px;
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(2)
  {
    margin-left: calc(-80rem / var(--global-root-font-size));
    margin-left: -80px;
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(1)
  {
    margin-left: calc(-80rem / var(--global-root-font-size));
    margin-left: -80px;
  }

  /* 5 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(4)
  {
    margin-left: calc(-90rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(3)
  {
    margin-left: calc(-90rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(2)
  {
    margin-left: calc(-90rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(1)
  {
    margin-left: calc(-90rem / var(--global-root-font-size));
  }

  /* 6 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(5)
  {
    margin-left: calc(-100rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(4)
  {
    margin-left: calc(-100rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(3)
  {
    margin-left: calc(-100rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(2)
  {
    margin-left: calc(-100rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(7):nth-last-child(1)
  {
    margin-left: calc(-100rem / var(--global-root-font-size));
  }


@media (min-width: 375px)
{
  /* 2 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(1)
  {
    margin-left: 0;
  }

  /* 3 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(2)
  {
    margin-left: calc(-60rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(1)
  {
    margin-left: calc(-60rem / var(--global-root-font-size));
  }

  /* 4 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(3)
  {
    margin-left: calc(-70rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(2)
  {
    margin-left: calc(-70rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(1)
  {
    margin-left: calc(-70rem / var(--global-root-font-size));
  }

  /* 5 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(4)
  {
    margin-left: calc(-80rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(3)
  {
    margin-left: calc(-80rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(2)
  {
    margin-left: calc(-80rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(1)
  {
    margin-left: calc(-80rem / var(--global-root-font-size));
  }

  /* 6 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(5)
  {
    margin-left: calc(-90rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(4)
  {
    margin-left: calc(-90rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(3)
  {
    margin-left: calc(-90rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(2)
  {
    margin-left: calc(-90rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(7):nth-last-child(1)
  {
    margin-left: calc(-90rem / var(--global-root-font-size));
  }
}

@media (min-width: 432px)
{
  /* For all cards but the first card (second child(the legend is the first child)) */

  /* 3 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(2)
  {
    margin-left: 0;
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(1)
  {
    margin-left: 0;
  }

  /* 4 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(3)
  {
    margin-left: calc(-40rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(2)
  {
    margin-left: calc(-40rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(1)
  {
    margin-left: calc(-40rem / var(--global-root-font-size));
  }

  /* 5 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(4)
  {
    margin-left: calc(-60rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(3)
  {
    margin-left: calc(-60rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(2)
  {
    margin-left: calc(-60rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(1)
  {
    margin-left: calc(-60rem / var(--global-root-font-size));
  }

  /* 6 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(5)
  {
    margin-left: calc(-64rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(4)
  {
    margin-left: calc(-64rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(3)
  {
    margin-left: calc(-64rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(2)
  {
    margin-left: calc(-64rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(7):nth-last-child(1)
  {
    margin-left: calc(-64rem / var(--global-root-font-size));
  }
}


@media (min-width: 532px)
{
  /* For all cards but the first card (second child(the legend is the first child)) */
  /* 4 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(3)
  {
    margin-left: 0;
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(2)
  {
    margin-left: 0;
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(1)
  {
    margin-left: 0;
  }

  /* 5 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(4)
  {
    margin-left: calc(-30rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(3)
  {
    margin-left: calc(-30rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(2)
  {
    margin-left: calc(-30rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(1)
  {
    margin-left: calc(-30rem / var(--global-root-font-size));
  }

  /* 6 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(5)
  {
    margin-left: calc(-50rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(4)
  {
    margin-left: calc(-50rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(3)
  {
    margin-left: calc(-50rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(2)
  {
    margin-left: calc(-50rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(7):nth-last-child(1)
  {
    margin-left: calc(-50rem / var(--global-root-font-size));
  }
}

@media (min-width: 632px)
{
  /* For all cards but the first card (second child(the legend is the first child)) */

  /* 5 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(4)
  {
    margin-left: 0;
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(3)
  {
    margin-left: 0;
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(2)
  {
    margin-left: 0;
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(1)
  {
    margin-left: 0;
  }

  /* 6 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(5)
  {
    margin-left: calc(-30rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(4)
  {
    margin-left: calc(-30rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(3)
  {
    margin-left: calc(-30rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(2)
  {
    margin-left: calc(-30rem / var(--global-root-font-size));
  }
  .c-placeholder-cards .c-play-card:nth-child(7):nth-last-child(1)
  {
    margin-left: calc(-30rem / var(--global-root-font-size));
  }
}

@media (min-width: 732px)
{
  /* For all cards but the first card (second child(the legend is the first child)) */
  /* 6 cards */
  .c-placeholder-cards .c-play-card:nth-child(3):nth-last-child(5)
  {
    margin-left: 0;
  }
  .c-placeholder-cards .c-play-card:nth-child(4):nth-last-child(4)
  {
    margin-left: 0;
  }
  .c-placeholder-cards .c-play-card:nth-child(5):nth-last-child(3)
  {
    margin-left: 0;
  }
  .c-placeholder-cards .c-play-card:nth-child(6):nth-last-child(2)
  {
    margin-left: 0;
  }
  .c-placeholder-cards .c-play-card:nth-child(7):nth-last-child(1)
  {
    margin-left: 0;
  }
}







/* Add padding to child for more flexibility */
.c-card__body,
.c-card__footer {
padding: var(--global-whitespace) var(--global-whitespace) 0;
overflow: auto;
/* Fix margin collapse */
}

.c-card__footer {
text-align: center;
border-top: calc(1rem / var(--global-root-font-size)) solid var(--card__footer-borderColor);
}

.c-card__title {
text-align: center;
font-size: calc(18rem / var(--global-root-font-size)) ;
line-height: var(--global-whitespace);
font-weight: 600;
}

@media (min-width: 27em) {
.c-card__body {
  padding: var(--global-whitespace-xl) var(--global-whitespace-xl)
    var(--global-whitespace);
}

.c-card__title {
  margin-bottom: var(--global-whitespace-xl);
}
}

/*
    Component: Title icon
    ---
    Special type of title with icon
*/

.c-title-icon {
  display: flex;
  align-items: flex-start;
}

.c-title-icon__icon {
  height: calc(70rem / var(--global-root-font-size)) ;
  margin-right: calc(20rem / var(--global-root-font-size)) ;
}

@media (min-width: 768px) {
  .c-title-icon__icon {
      height: calc(84rem / var(--global-root-font-size)) ;
  }
}

@media (min-width: 1200px) {
  .c-title-icon__icon {
      height: calc(112rem / var(--global-root-font-size)) ;
  }
}

/*
  Component: Forms
  ---
  Everything form related here
*/

.c-form-field--option {
display: flex;
align-items: center;
}


/*
  Component: Button
  ---
  Class to put on form buttons or
*/

.c-button {
  /*No transition, otherwise border glitch when hovering*/
  box-shadow: 0 0 calc(1rem / var(--global-root-font-size))  calc(1rem / var(--global-root-font-size)) ;
  cursor: pointer;
  border: none;
  width: calc(120rem / var(--global-root-font-size)) ;
  height: calc(24rem / var(--global-root-font-size)) ;
  margin: 0 0 calc(6rem / var(--global-root-font-size))  0;
  color: var(--global-html-color);
}
.c-button-dark{
  color: var(--global-html-color);
  background: var(--global-html-backgroundColor);
}

.c-button:hover:enabled{
  box-shadow: 0 0 calc(2rem / var(--global-root-font-size))  calc(2rem / var(--global-root-font-size)) ;
}

/*:not(:disabled), needed because a button can be focused while disabled in some browsers*/
.c-button:focus:not(:disabled){
  outline: none;
  box-shadow: 0 0 calc(3rem / var(--global-root-font-size))  calc(3rem / var(--global-root-font-size))  ;
}

.c-button:enabled {
  background-color: rgba(255, 255, 255, 0.2);
}

.c-button:disabled {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.8;
}





/*------------------------------------*\
#UTILITIES
\*------------------------------------*/
/*
  Utilities: center
  ---
  Utility classes to center elements
*/
.u-center{
  margin-left: auto;
  margin-right: auto;
  max-width: 54rem;
  text-align: center;
}

/*
  Utilities: inline-block
  ---
  Utility classes to make elements inline-block
*/

.u-inline-block{
  display: inline-block;
}

/*
  Utilities: invisible
  ---
  Utility classes to make elements invisible
*/

.u-invisible{
  display: none;
}

/*
  Utilities: color
  ---
  Utility classes to put specific colors onto elements
*/

.u-color-neutral {
color: var(--global-color-neutral);
}

.u-color-neutral-dark {
color: var(--global-color-neutral-dark);
}

/*
  Utilities: spacing
  ---
  Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
padding-top: 0 !important;
}

.u-mb-clear {
margin-bottom: 0 !important;
}

.u-mb-xs {
margin-bottom: calc(4rem / var(--global-root-font-size))  !important;
}

.u-mb-sm {
margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
margin-bottom: var(--global-whitespace-lg) !important;
}

.u-mb-xl {
margin-bottom: var(--global-whitespace-xl) !important;
}

/*
  Utilities: max-width
  ---
  Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
max-width: 27em !important;
}

.u-max-width-sm {
max-width: 39em !important;
}

.u-max-width-md {
max-width: 50em !important;
}

.u-max-width-lg {
max-width: 63.5em !important;
}

.u-max-width-none {
max-width: none !important;
}

/*
  Utilities: align
  ---
  Utility classes align text or components
*/

.u-align-text-center {
text-align: center;
}

.u-align-center {
margin: 0 auto;
}

/*
  Utilities: text
  Utility classes to create smaller or bigger
*/

.u-text-sm {
font-size: calc(14rem / var(--global-root-font-size)) ;
}

/*
  Utility: Widths
  ---
  Utility classes to put specific widths onto elements
  Will be mostly used on o-layout__item
*/

.u-width-auto {
width: auto !important;
}

.u-1-of-2 {
width: 50% !important;
}

.u-1-of-3 {
width: 33.3333333333% !important;
}

.u-2-of-3 {
width: 66.6666666667% !important;
}

.u-1-of-4 {
width: 25% !important;
}

.u-3-of-4 {
width: 75% !important;
}

.u-1-of-5 {
width: 20% !important;
}

.u-2-of-5 {
width: 40% !important;
}

.u-3-of-5 {
width: 60% !important;
}

.u-4-of-5 {
width: 80% !important;
}

.u-1-of-6 {
width: 16.6666666667% !important;
}

.u-5-of-6 {
width: 83.3333333333% !important;
}

@media (min-width: 576px) {
.u-1-of-2-bp1 {
  width: 50% !important;
}

.u-1-of-3-bp1 {
  width: 33.3333333333% !important;
}

.u-2-of-3-bp1 {
  width: 66.6666666667% !important;
}

.u-1-of-4-bp1 {
  width: 25% !important;
}

.u-3-of-4-bp1 {
  width: 75% !important;
}

.u-1-of-5-bp1 {
  width: 20% !important;
}

.u-2-of-5-bp1 {
  width: 40% !important;
}

.u-3-of-5-bp1 {
  width: 60% !important;
}

.u-4-of-5-bp1 {
  width: 80% !important;
}

.u-1-of-6-bp1 {
  width: 16.6666666667% !important;
}

.u-5-of-6-bp1 {
  width: 83.3333333333% !important;
}
}

@media (min-width: 768px) {
.u-1-of-2-bp2 {
  width: 50% !important;
}

.u-1-of-3-bp2 {
  width: 33.3333333333% !important;
}

.u-2-of-3-bp2 {
  width: 66.6666666667% !important;
}

.u-1-of-4-bp2 {
  width: 25% !important;
}

.u-3-of-4-bp2 {
  width: 75% !important;
}

.u-1-of-5-bp2 {
  width: 20% !important;
}

.u-2-of-5-bp2 {
  width: 40% !important;
}

.u-3-of-5-bp2 {
  width: 60% !important;
}

.u-4-of-5-bp2 {
  width: 80% !important;
}

.u-1-of-6-bp2 {
  width: 16.6666666667% !important;
}

.u-5-of-6-bp2 {
  width: 83.3333333333% !important;
}
}

@media (min-width: 992px) {
.u-1-of-2-bp3 {
  width: 50% !important;
}

.u-1-of-3-bp3 {
  width: 33.3333333333% !important;
}

.u-2-of-3-bp3 {
  width: 66.6666666667% !important;
}

.u-1-of-4-bp3 {
  width: 25% !important;
}

.u-3-of-4-bp3 {
  width: 75% !important;
}

.u-1-of-5-bp3 {
  width: 20% !important;
}

.u-2-of-5-bp3 {
  width: 40% !important;
}

.u-3-of-5-bp3 {
  width: 60% !important;
}

.u-4-of-5-bp3 {
  width: 80% !important;
}

.u-1-of-6-bp3 {
  width: 16.6666666667% !important;
}

.u-5-of-6-bp3 {
  width: 83.3333333333% !important;
}
}

@media (min-width: 1200px) {
.u-1-of-2-bp4 {
  width: 50% !important;
}

.u-1-of-3-bp4 {
  width: 33.3333333333% !important;
}

.u-2-of-3-bp4 {
  width: 66.6666666667% !important;
}

.u-1-of-4-bp4 {
  width: 25% !important;
}

.u-3-of-4-bp4 {
  width: 75% !important;
}

.u-1-of-5-bp4 {
  width: 20% !important;
}

.u-2-of-5-bp4 {
  width: 40% !important;
}

.u-3-of-5-bp4 {
  width: 60% !important;
}

.u-4-of-5-bp4 {
  width: 80% !important;
}

.u-1-of-6-bp4 {
  width: 16.6666666667% !important;
}

.u-5-of-6-bp4 {
  width: 83.3333333333% !important;
}
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
  Media Queries
  ---
  EXAMPLE Media Queries for Responsive Design.
  These examples override the primary ('mobile first') styles.
  USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
  Print styles.
  ---
  Inlined to avoid the additional HTTP request:
  http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
*,
*:before,
*:after {
  background: transparent !important;
  color: #000 !important;
  /* Black prints faster:
      http://www.sanbeiji.com/archives/953 */
  box-shadow: none !important;
  text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: ' (' attr(href) ')';
}

abbr[title]:after {
  content: ' (' attr(title) ')';
}

/*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */
a[href^='#']:after,
a[href^='javascript:']:after {
  content: '';
}

pre {
  white-space: pre-wrap !important;
}

pre,
blockquote {
  border: calc(1rem / var(--global-root-font-size))  solid #999;
  page-break-inside: avoid;
}

/*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}

